.dashboard-container .dashboard{
    position: fixed;
    top: 80px;
    left: 15%;
    width: 85%;
    height: 100vh;
    font-size: 20px;
    padding: 10px;
    overflow-y: scroll;
}

.dashboard-container .dashboard .first-section{
   width: 100%;
   height: 169px;
}

.dashboard .first-section .heading{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    color: #001616;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px;
}

.first-section .heading p{
    font-size: 24px;
    font-weight: 600;
}

.first-section .heading button{
    width: 86px;
    height: 40px;
    border: 0.5px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
}

.first-section .heading button:hover{
    background-color: #837AEF;
    color: #fff;
}

.first-section .heading button:active{
    background-color: hsl(0, 0%, 31%);
    color: #fff;
}

.dashboard .first-section .cards{
    width: 100%;
    height: 113px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    color: #001616;
    align-items: center;
}

.first-section .cards .card{
    width: 24%;
    height: 113px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 9px;
    box-shadow: 0 2px 4px 0 #41414126;
}

.first-section .cards .card .card-content{
    display: flex;
    flex-direction: column;
    width: 139px;
    height: 73px;
    gap: 20px;
}

.first-section .cards .card .card-content p:first-of-type{
    font-size: 14px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.first-section .cards .card .card-content p:last-of-type{
    font-size: 24px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.first-section .cards .card .card-content span{
    width: 29px;
    height: 15px;
    padding: 2px 8px;
    border-radius: 58px;
    font-size: 12px;
    background-color: #48C9B01A;
    color: #48C9B0;
}

.first-section .cards .card img{
    width: 116px;
    height: 58px;
}

.dashboard .middle-section{
    width: 75%;
    height: auto;
    display: flex;
    gap: 25px;
    margin-top: 15px;
}

.dashboard .middle-section .users-section{
    width: 560px;
    height: auto;
    padding: 10px 0 0;
    border-radius: 9px;
    box-shadow: 0 2px 4px 0 #41414126;
    border: 0.5px solid #D9D9D9
}

.users-section .users-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #001616;
    padding-right: 10px;
}

.users-section .users-head .left{
    width: 100%;
    height: 47px;
    padding: 0 20px;
}

.users-section .users-head .left p:first-of-type{
    font-size: 20px;
    font-weight: 600;
}

.users-section .users-head .left p:last-of-type{
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0 0;
}

.users-section .users-head .see-all{
    color: #837AEF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: #fff;
}

.users-section .users-head .see-all:active{
    color: hsl(245, 79%, 51%);
}

.users-section .users-body table{
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); 
}

.users-section .users-body table thead th {
  text-align: left;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 14px;
  color: #828282;
}

.users-section .users-body table tbody tr {
  border-top: 1px solid #E0E0E0;
}

.users-section .users-body table tbody td {
  padding: 12px 16px;
  font-size: 14px;
  color: #001616;
  font-weight: 400;
}

.users-section .users-body table .user-name{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.users-section .users-body table p{
    font-size: 18px;
    font-weight: 500;
}

.users-section .users-body table .user-name img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.dashboard .middle-section .zen-section{
    width: 344px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 30px;
    box-shadow: 0 2px 4px 0 #41414126;
    border: 0.5px solid #D9D9D9;
    padding: 10px;
}

.zen-section  .zen-head p:first-of-type{
    font-size: 20px;
    font-weight: 600;
    color: #001616;
}

.zen-section .zen-head p:last-of-type{
    font-size: 16px;
    font-weight: 400;
    color: #001616;
    margin: 10px 0 0;
}

.zen-section .exercises{
    height: 128px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.zen-section .exercises .exercise{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
}

.zen-section .exercises .exercise p{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #001616;
}

.zen-section .exercises .exercise .progress-bar{
    height: 8px;
    border-radius: 42px;
}

.zen-section button{
    width: 192px;
    height: 44px;
    padding: 10px;
    border: none;
    margin: 30px auto 0;
    background-color: #fff;
    color: #837AEF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.zen-section button:active{
    color: hsl(245, 79%, 51%);
}

.right-section{
    border: 2px solid green;
    width: 24%;
    position: absolute;
    left: 75.5%;
    top: 188px;
    box-shadow: 0 2px 4px 0 #41414126;
    border: 0.5px solid #D9D9D9;
    border-radius: 9px;
}

.right-section .reports-overview{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-section .reports-overview p{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #001616;
}

.right-section .divider{
    border: 0.5px solid #E0E0E0;
}

.bottom-section{
    padding: 5px;
    width: 75%;
    height: auto;
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 #41414126;
    border: 0.5px solid #D9D9D9;
    margin-top: 20px;
    padding: 0 10px;
    margin-bottom: 100px;
}

.reports-section .reports-head{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
}

.reports-section .reports-head .left{
    width: 50%;
    padding: 5px;
}

.reports-section .reports-head .left p:first-of-type{
    font-size: 20px;
    font-weight: 600;
    color: #001616;
}

.reports-section .reports-head .left p:last-of-type{
    font-size: 16px;
    font-weight: 400;
    color: #001616;
    margin-top: 10px;
}

.reports-section .reports-head .see-all{
    color: #837AEF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: #fff;
}

.reports-section .reports-head .see-all:active{
    color: hsl(245, 79%, 51%);
}


.reports-section .reports-body table{
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;    
}

.reports-section .reports-body table thead th {
  text-align: left;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 14px;
  color: #828282;
}

.reports-section .reports-body table tbody tr {
  border-top: 1px solid #E0E0E0;
}

.reports-section .reports-body table tbody td {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
  color: #001616;
}

.reports-section .reports-body .status{
    border-radius: 58px;
    width: 130px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.reports-section .reports-body .progress-bar{
    width: 137.21px;
    height: 4px;
    background-color: #E0E0E0;
    border-radius: 64.14px;
}

.reports-section .reports-body .progress-bar .progress{
    width: 35.88px;
    height: 4px;
    background-color: #837AEF;
    border-radius: 64.14px;
}

.reports-section .reports-body .icon{
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #fff;
}

.reports-section .reports-body .icon:hover{
    background-color: #837AEF;
    color: #fff;
}

.reports-section .reports-body .icon:active{
    background-color: hsl(0, 0%, 41%);
    color: #fff;
}