.forgotpasswordside{
    width: 60%;
    height: 100vh;
    background-color: #837AEF4D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.forgotpasswordside .container{
    width: 570px;
    height: 533px;
}

@media screen and (max-width: 768px){
.forgotpasswordside{
   display: none
}
}
