.incidents{
    display: flex;
    position: fixed;
    top: 80px;
    left: 15%;
    flex-direction: column;
    width: 85%;
    height: 100vh;
    font-size: 20px;
    padding: 10px 20px;
    overflow-y: scroll;
}

.incidents .incidents-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.incidents .incidents-head p{
    font-size: 24px;
    font-weight: 600;
}

.incidents .incidents-head .head-right{
    width: 20%;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.incidents .incidents-head .head-right button{
    width: 40px;
    height: 40px;
    border: 0.5px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
}

.incidents .incidents-head .head-right button:first-of-type{
    width: 106px;
    height: 40px;
    display: flex;
    align-items: center;
}

.incidents .incidents-head .head-right button:last-of-type{
    width: 86px;
    height: 40px;
    display: flex;
    align-items: center;
}

.incidents .incidents-head .head-right button:hover{
    background-color: #837AEF;
    color: #fff;
}

.incidents .incidents-head .head-right button:active{
    background-color: hsl(0, 0%, 31%);
    color: #fff;
}

.incidents .new-report{
    box-shadow: 0 2px 4px 0 #41414126;
    border-radius: 8px; 
    padding: 10px;  
}

.incidents .new-report p:first-of-type{
    font-size: 20px;
    font-weight: 600;
    color: #001616;
}

.incidents .new-report p:last-of-type{
    font-size: 16px;
    font-weight: 400;
    color: #001616;
    margin-top: 10px;
}

.incidents .new-report table{
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  margin-top: 10px;
}

.incidents .new-report table thead th {
  text-align: center;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 14px;
  color: #828282;
}

.incidents .new-report table tbody tr {
  border-top: 1px solid #E0E0E0;
}

.incidents .new-report table tbody td {
padding: 12px 16px;
font-size: 16px;
font-weight: 500;
color: #001616;
text-align: center; 
vertical-align: middle;
}

.incidents .new-report table tbody td button {
    width: 180px;
    height: 41px;
    border-radius: 8px;
    background-color: #837AEF;
    font-size: 17px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.incidents .new-report table tbody td button:hover {
    background-color: hsl(245, 79%, 61%);
}

.incidents .new-report table tbody td button:active {
 background-color: hsl(0, 0%, 31%);;
}

.incidents .ongoing-cases{
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 10px;
    border-radius: 9px;
    box-shadow: 0 2px 4px 0 #41414126;
}

.ongoing-cases .cases p:first-of-type{
    font-size: 20px;
    font-weight: 600;
    color: #001616;
}

.ongoing-cases .cases p:last-of-type{
    font-size: 16px;
    font-weight: 400;
    color: #001616;
    margin-top: 10px;
}

.ongoing-cases .cases table{
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  margin-top: 10px
}

.ongoing-cases .cases table thead th {
  text-align: center;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 14px;
  color: #828282;
}

.ongoing-cases .cases table tbody tr {
  border-top: 1px solid #E0E0E0;
}

.ongoing-cases .cases table tbody td {
  padding: 20px 16px;
  font-size: 16px;
  font-weight: 500;
  color: #001616;
    text-align: center; 
  vertical-align: middle;
}

.ongoing-cases .status{
    border-radius: 58px;
    background-color: #3DACF51A;
    color: #3DACF5;
}

.ongoing-cases .text{
    font-size: 16px;
    font-weight: 400;
    color: #001616;
    text-align: center;
}

