.searchbar{
    position: fixed;
    right:0;
    width:85%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding:0 50px;
    align-items: center;
    border-bottom: 0.5px solid #D9D9D9;
    z-index: 1000;
}

.searchbar .search{
    width: 90%;
    height: auto;
    display: flex;
}

.searchbar .search input{
    border: 1px solid #D9D9D9;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    background-color: #fff;
}

.searchbar .search .search-icon{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 50px;
    top: 5px;
    cursor: pointer;
}

.searchbar .searchbar-right{
    width: 10%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
}

.searchbar .searchbar-right .notification-icon{
    cursor: pointer;
}

.searchbar .searchbar-right img{
    border-radius: 50%;
    display: flex;
    align-items: center;
    border: 1px solid #D9D9D9;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.searchbar .searchbar-right .notification-icon:hover,
.searchbar .search .search-icon:hover{
    color: hsl(0, 0%, 20%);
}

.searchbar .searchbar-right .notification-icon:active,
.searchbar .searchbar-right .notification-icon:focus,
.searchbar .search .search-icon:active,
.searchbar .search .search-icon:focus{
    color: hsl(0, 0%, 75%);
}