.welcome-screen{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-screen .container{
    width: 100%;
    height: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0
}

.welcome-screen .container img{
    width: 192px;
    height: 199px;
} 

.welcome-screen .container button{
    width: 480px;
    height: 64px;
    background-color: #837AEF;
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 #0000000D;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
} 

.welcome-screen .container button:hover{
    background-color: hsl(245, 79%, 61%);
}

.welcome-screen .container button:active{
    background-color: hsl(245, 79%, 71%);
}
